@import './vendors/fancybox.custom.scss';
@import './vendors/swiper.custom.scss';


.tippy-box[data-theme~='gray'] {
    background-color: var(--color-gray);
    color           : #fff;
}

.tippy-box[data-theme~='gray'] .tippy-arrow {
    color: var(--color-gray);
}

.tippy-box[data-theme~='gray'] .tippy-backdrop {
    background-color: var(--color-gray);
}

.tippy-box {
    border-radius: 8px;

}

.tippy-content {
    padding: 14px 20px;

}

.tooltip-title {
    color: #74DEFF;
}

.air-datepicker-global-container {
    z-index: var(--zi-l7) !important;
}

.air-datepicker {
    --adp-background-color       : var(--bg3);
    --adp-background-color-hover : var(--bg2);
    --adp-background-color-active: var(--bg1);

    --adp-background-color-in-range                    : rgba(92, 196, 239, .1);
    --adp-background-color-in-range-focused            : rgba(92, 196, 239, .2);
    --adp-background-color-selected-other-month-focused: var(--color-primary-20);
    --adp-background-color-selected-other-month        : var(--color-primary-10);
    --adp-color                                        : var(--color-text);
    --adp-color-secondary                              : var(--color-text-40);
    --adp-accent-color                                 : var(--color-primary);
    --adp-color-current-date                           : var(--adp-accent-color);
    --adp-color-other-month                            : var(--color-text-20);
    --adp-color-disabled                               : var(--color-text-40);
    --adp-color-disabled-in-range                      : var(--color-text-60);
    --adp-color-other-month-hover                      : var(--color-text-40);
    --adp-border-color                                 : var(--color-text-20);
    --adp-border-color-inner                           : var(--color-text-20);

    --adp-border-color-inline : var(--color-text-20);
    --adp-day-name-color      : var(--color-yellow);
    --adp-day-name-color-hover: var(--color-primary-20);
    ;

    --adp-cell-background-color-selected      : var(--color-primary);
    --adp-cell-background-color-selected-hover: var(--color-primary--dark);
    --adp-cell-background-color-in-range      : var(--color-primary-10);
    --adp-cell-background-color-in-range-hover: var(--color-primary-20);
}

.air-datepicker--pointer:after{
    background: var(--adp-background-color);
}