$colors: ('primary': #b71540,
    'sec': #CE9B44,
    'black': #000000,
    'text': #061220,
    'white': #ffffff,
    'blue': #2980b9,
    'red': #DC5151,
    'green': #27ae60,
    'yellow': #f39c12);

$xs : 425.98px;
$sm : 625.98px;
$md : 991.98px;
$lg : 1199.98px;
$xl : 1599.98px;