<%= _.template(require('./html-includes/header.html').default)() %>

	<section class="flex flex-align-start">
		<%= _.template(require('./html-includes/sidebar.html').default)() %>

			<div class="content flex-grow p-10 card">
				<div class="progect-btns flex">
					<button class="btn btn-xsmall text-small btn--primary btn--fill btn--rounded">semensajen.ru</button>
					<button
						class="btn btn-xsmall text-small btn--primary btn--light btn--rounded ml-2 color-text">oazis-roz.ru</button>
					<button
						class="btn btn-xsmall text-small btn--primary btn--light btn--rounded ml-2 color-text">garden-class.ru</button>
					<button
						class="btn btn-xsmall text-small btn--primary btn--light btn--rounded ml-2 color-text">semensajen.ru</button>
				</div>

				<div class="flex flex-align-center progect-header mb-6 mb-lg-0">
					<div class="flex">
						<div class="progect-header-logo mr-4 mr-md-8">
							<img src="img/test-1.jpg" alt="">
						</div>
						<div class="">
							<div class="text-subtitle-1 text-md-h4">semensajen.ru</div>
							<div class="text-small text-md-body-2 fade-60">Семена и саженцы</div>
						</div>
					</div>
					<div class="mx-auto progect-header-users flex flex-align-center">
						<div class="avatar-list" data-toggle-cover>
							<% for(let i=0; i < 5; i++){ %>
								<%= _.template(require('./html-includes/avatar.html').default)() %>
									<% } %>
										<button class="image image--round icon text-h1 avatar-item bg-primary btn btn-icon btn--primary btn--fill" data-toggle-link>
											<div class="text-body-2 text--demibold color-white">+3</div>
										</button>

										<div class="avatar-list-tooltip" data-toggle-content>
											<% for(let i=0; i < 20; i++){ %>
												<div class="flex flex-align-center mb-2">
													<%= _.template(require('./html-includes/avatar.html').default)() %>
														<div class="text-body-2 ml-2">Загребельный Роман Алексеевич </div>
												</div>
												<% } %>
										</div>
						</div>
						<div class="ml-6">
							<div class="text-body-2 ">Доступно: 8 пользователям</div>
							<button class="btn btn--primary btn--link text-body-2 text--demibold" data-src="dialog-access.html"
								data-fancybox-modal data-type="ajax">Редактировать</button>
						</div>
					</div>
					<div class="ml-auto">
						<button class="btn btn--primary btn--white-bg btn-icon btn-md-large">
							<svg class="icon text-h6 color-text fade-60">
								<use xlink:href="img/icons.svg#settings" />
							</svg>
						</button>
					</div>
				</div>

				<div class="content-inner">

					<div class="tab-buttons mt-lg-10 mb-6">
						<button class="tab-buttons-item waved active">Реклама в Яндекс</button>
						<button class="tab-buttons-item waved">Продажи</button>
					</div>

					<div class="text-body-1 text-md-subtitle-2 text--bold mb-6">Баланс: <span class="color-green">10 357
							₽</span>
					</div>


					<div class="table">
						<div class="table-row table-head">
							<div class="table-cell table-cell-lg bg-l1 brs-2 brs-t">
								<div class="text-body-2 text--medium py-1">Дата</div>
							</div>
							<div class="table-cell bg-l1 brs-2 brs-t">
								<div class="text-body-2 text--medium py-1">Расход</div>
							</div>
							<div class="table-cell-group">
								<div class="table-cell table-cell-full bg-l1 brs-2 brs-t">
									<div class="text-body-2 text--medium py-1">Посетители</div>
								</div>
								<div class="table-row">
									<div class="table-cell-group flex">
										<div class="table-cell bg-l1">
											<div class="text-body-2 text--medium py-1">Всего</div>
										</div>
										<div class="table-cell bg-l1">
											<div class="text-body-2 text--medium py-1">Новые</div>
										</div>
									</div>
								</div>
							</div>
							<div class="table-cell-group">
								<div class="table-cell table-cell-full bg-l1 brs-2 brs-t">
									<div class="text-body-2 text--medium py-1">Продажи</div>
								</div>
								<div class="table-row">
									<div class="table-cell-group flex">
										<div class="table-cell bg-l1">
											<div class="text-body-2 text--medium py-1">Кол-во</div>
										</div>
										<div class="table-cell bg-l1">
											<div class="text-body-2 text--medium py-1">Сумма</div>
										</div>
										<div class="table-cell bg-l1">
											<div class="text-body-2 text--medium py-1">Ср-й чек</div>
										</div>
									</div>
								</div>
							</div>
							<div class="table-cell bg-l1 cursor-pointer brs-2 brs-t" id="tooltip-romi">
								<div class="text-body-2 text--medium py-1">ROMI %</div>
								<div class="table-cell-note">
									<svg class="icon">
										<use xlink:href="img/icons.svg#i" />
									</svg>
								</div>
							</div>
							<div class="table-cell bg-l1 cursor-pointer brs-2 brs-t" id="tooltip-cps">
								<div class="text-body-2 text--medium py-1">CPS</div>
								<div class="table-cell-note">
									<svg class="icon">
										<use xlink:href="img/icons.svg#i" />
									</svg>
								</div>
							</div>
							<div class="table-cell bg-l1 cursor-pointer brs-2 brs-t" id="tooltip-crs">
								<div class="text-body-2 text--medium py-1">CRS</div>
								<div class="table-cell-note">
									<svg class="icon">
										<use xlink:href="img/icons.svg#i" />
									</svg>
								</div>
							</div>
						</div>
						<% for(let i=0; i < 12; i++){ %>
							<div class="table-row">
								<button class="table-cell table-cell-lg bg-l3 btn btn--primary">
									<div class="text-small text--demibold py-1 color-text">Январь</div>
									<div class="form-input-end pr-2">
										<svg class="icon text-small fade-60 color-text">
											<use xlink:href="img/icons.svg#to-right" />
										</svg>
									</div>
								</button>
								<div class="table-cell bg-l3">
									<div class="text-small py-1">674 585 ₽</div>
								</div>
								<div class="table-cell-group flex">
									<div class="table-cell bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
									<div class="table-cell bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
								</div>
								<div class="table-cell-group flex">
									<div class="table-cell bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
									<div class="table-cell bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
									<div class="table-cell bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
								</div>
								<div class="table-cell bg-l3">
									<div class="text-small py-1">674 585 ₽</div>
								</div>
								<div class="table-cell bg-l3">
									<div class="text-small py-1">674 585 ₽</div>
								</div>
								<div class="table-cell bg-l3">
									<div class="text-small py-1">674 585 ₽</div>
								</div>
							</div>
							<% } %>
								<div class="table-row">
									<button class="table-cell active table-cell-lg bg-l3 btn btn--primary btn--fill">
										<div class="text-small text--demibold py-1">Январь</div>
										<div class="form-input-end pr-2">
											<svg class="icon text-small fade-60" style="transform: rotateZ(-90deg);">
												<use xlink:href="img/icons.svg#to-right" />
											</svg>
										</div>
									</button>
									<div class="table-cell active bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
									<div class="table-cell-group flex">
										<div class="table-cell active bg-l3">
											<div class="text-small py-1">674 585 ₽</div>
										</div>
										<div class="table-cell active bg-l3">
											<div class="text-small py-1">674 585 ₽</div>
										</div>
									</div>
									<div class="table-cell-group flex">
										<div class="table-cell active bg-l3">
											<div class="text-small py-1">674 585 ₽</div>
										</div>
										<div class="table-cell active bg-l3">
											<div class="text-small py-1">674 585 ₽</div>
										</div>
										<div class="table-cell active bg-l3">
											<div class="text-small py-1">674 585 ₽</div>
										</div>
									</div>
									<div class="table-cell active bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
									<div class="table-cell active bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
									<div class="table-cell active bg-l3">
										<div class="text-small py-1">674 585 ₽</div>
									</div>
								</div>
								<div class="table-row-group">
									<% for(let i=0; i < 12; i++){ %>
										<div class="table-row">
											<div class="table-cell table-cell-lg bg-l2">
												<div class="text-small py-1">1.12.2022</div>
											</div>
											<div class="table-cell bg-l3">
												<div class="text-small py-1">674 585 ₽</div>
											</div>
											<div class="table-cell-group flex">
												<div class="table-cell bg-l3">
													<div class="text-small py-1">674 585 ₽</div>
												</div>
												<div class="table-cell bg-l3">
													<div class="text-small py-1">674 585 ₽</div>
												</div>
											</div>
											<div class="table-cell-group flex">
												<div class="table-cell bg-l3">
													<div class="text-small py-1">674 585 ₽</div>
												</div>
												<div class="table-cell bg-l3">
													<div class="text-small py-1">674 585 ₽</div>
												</div>
												<div class="table-cell bg-l3">
													<div class="text-small py-1">674 585 ₽</div>
												</div>
											</div>
											<div class="table-cell bg-l3">
												<div class="text-small py-1">674 585 ₽</div>
											</div>
											<div class="table-cell bg-l3">
												<div class="text-small py-1">674 585 ₽</div>
											</div>
											<div class="table-cell bg-l3">
												<div class="text-small py-1">674 585 ₽</div>
											</div>
										</div>
										<% } %>
								</div>
					</div>

					<div class="btn-group mt-8">
						<button class="btn btn-small btn--fill btn--primary">
							<span class="text-small text--bold">2022 г.</span>
						</button>
						<button class="btn btn-small btn--contur btn--primary bd-light">
							<span class="text-small text--bold color-text">2021 г.</span>
						</button>
						<button class="btn btn-small btn--contur btn--primary bd-light">
							<span class="text-small text--bold color-text">2020 г.</span>
						</button>
					</div>
				</div>

			</div>
	</section>

	</body>

	</html>